<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
    This is a copy of the file from WordpressAutomation\App.config file.
    Changes made to that file should be made here too!
  -->
  
  <appSettings>
    <add key="username" value="arun"/>
    <add key="password" value="arun123"/>
    <add key="newTitle" value="Title of the Post!"/>
    <add key="postBody" value="Hi There! I'm the body of the post you've published"/>
  </appSettings>
</configuration>