<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
    Making changes in this File?
    Change the same in WordPressTests\App.config too!
  -->
  
  <appSettings>
    <add key="username" value="arun"/>
    <add key="password" value="arun123"/>
    <add key="newTitle" value="Title of the Post!"/>
    <add key="postBody" value="Hi There! I'm the body of the post you've published"/>
  </appSettings>
</configuration>